mixin events()
    .container
        ul.events__list 
            li.events__item 
                .events__left 
                    .events__title Экскурсии по Новоспасскому монастырю
                    .events__desc Прикоснитесь к истории уникальной обители, связанной с родом Романовых 
                    button.events__button ПОДРОБНЕЕ
                .events__right
                    +pic("events_1","bg",'','')(class="picture-bg events_img")
            li.events__item.events__item_blue
                .events__left 
                    .events__title Экскурсии в Покровский храм
                    .events__desc Познакомьтесь с историей уникального архитектурного проекта: «Икона Святой Земли»
                    button.events__button ПОДРОБНЕЕ
                .events__right
                    +pic("events_2","bg",'','')(class="picture-bg events_img")
