.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-PayPal {
	font-size:(18/10)*1rem;
	width:(68/18)*1em;
}
.icon-Star_17 {
	font-size:(500/10)*1rem;
	width:(499.51/500)*1em;
}
.icon-alfa {
	font-size:(22/10)*1rem;
	width:(72/22)*1em;
}
.icon-arrow-b-right {
	font-size:(11/10)*1rem;
	width:(15/11)*1em;
}
.icon-arrow-left {
	font-size:(11/10)*1rem;
	width:(15/11)*1em;
}
.icon-arrow-long-left {
	font-size:(13/10)*1rem;
	width:(43/13)*1em;
}
.icon-arrow-right {
	font-size:(11/10)*1rem;
	width:(15/11)*1em;
}
.icon-bird {
	font-size:(224/10)*1rem;
	width:(156/224)*1em;
}
.icon-block {
	font-size:(100.13/10)*1rem;
	width:(500/100.13)*1em;
}
.icon-card {
	font-size:(30/10)*1rem;
	width:(56/30)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-chevron-down {
	font-size:(8/10)*1rem;
	width:(12/8)*1em;
}
.icon-chevron-down-color {
	font-size:(8/10)*1rem;
	width:(12/8)*1em;
}
.icon-chevron-right {
	font-size:(12/10)*1rem;
	width:(8/12)*1em;
}
.icon-chevron-right-sm {
	font-size:(12/10)*1rem;
	width:(8/12)*1em;
}
.icon-chevron-right-sm-dark {
	font-size:(13/10)*1rem;
	width:(8/13)*1em;
}
.icon-chevron-right-white {
	font-size:(12/10)*1rem;
	width:(8/12)*1em;
}
.icon-chevron-up {
	font-size:(8/10)*1rem;
	width:(12/8)*1em;
}
.icon-chevron-up-color {
	font-size:(8/10)*1rem;
	width:(12/8)*1em;
}
.icon-close {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-close-bold {
	font-size:(500/10)*1rem;
	width:(312.5/500)*1em;
}
.icon-close-dark {
	font-size:(8/10)*1rem;
	width:(12/8)*1em;
}
.icon-cross-icon-023 {
	font-size:(31/10)*1rem;
	width:(31/31)*1em;
}
.icon-danger {
	font-size:(31/10)*1rem;
	width:(31/31)*1em;
}
.icon-doc {
	font-size:(50/10)*1rem;
	width:(51/50)*1em;
}
.icon-donate {
	font-size:(21/10)*1rem;
	width:(21/21)*1em;
}
.icon-donate-hand {
	font-size:(26/10)*1rem;
	width:(21/26)*1em;
}
.icon-eye {
	font-size:(13/10)*1rem;
	width:(21/13)*1em;
}
.icon-eye_1 {
	font-size:(20/10)*1rem;
	width:(21/20)*1em;
}
.icon-facebook {
	font-size:(20/10)*1rem;
	width:(11/20)*1em;
}
.icon-fast {
	font-size:(20/10)*1rem;
	width:(12/20)*1em;
}
.icon-fire {
	font-size:(15/10)*1rem;
	width:(12/15)*1em;
}
.icon-hrum {
	font-size:(23/10)*1rem;
	width:(20/23)*1em;
}
.icon-insta {
	font-size:(20/10)*1rem;
	width:(21/20)*1em;
}
.icon-interface {
	font-size:(15/10)*1rem;
	width:(15/15)*1em;
}
.icon-iomoney {
	font-size:(17/10)*1rem;
	width:(74/17)*1em;
}
.icon-li-dots {
	font-size:(30/10)*1rem;
	width:(20/30)*1em;
}
.icon-logo {
	font-size:(80/10)*1rem;
	width:(80/80)*1em;
}
.icon-logo-color {
	font-size:(26/10)*1rem;
	width:(25/26)*1em;
}
.icon-logo-foot-new {
	font-size:(303/10)*1rem;
	width:(167/303)*1em;
}
.icon-logo-foot-new-md {
	font-size:(173/10)*1rem;
	width:(275/173)*1em;
}
.icon-logo-lg {
	font-size:(500/10)*1rem;
	width:(271.43/500)*1em;
}
.icon-logo-lg-bold {
	font-size:(339/10)*1rem;
	width:(200/339)*1em;
}
.icon-logo-lg-without-text {
	font-size:(165/10)*1rem;
	width:(166/165)*1em;
}
.icon-logo-lg-without-text-light {
	font-size:(294.8/10)*1rem;
	width:(295.8/294.8)*1em;
}
.icon-logo-text {
	font-size:(197/10)*1rem;
	width:(118/197)*1em;
}
.icon-logo-top {
	font-size:(60/10)*1rem;
	width:(60/60)*1em;
}
.icon-logo-top-fond {
	font-size:(60/10)*1rem;
	width:(426/60)*1em;
}
.icon-mark {
	font-size:(16/10)*1rem;
	width:(11/16)*1em;
}
.icon-minbank {
	font-size:(68/10)*1rem;
	width:(68/68)*1em;
}
.icon-pay {
	font-size:(17/10)*1rem;
	width:(86/17)*1em;
}
.icon-qiwi {
	font-size:(23/10)*1rem;
	width:(60/23)*1em;
}
.icon-red-strip-family {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.icon-red-strip-lightning {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.icon-red-strip-portrait {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.icon-rew-bg {
	font-size:(41/10)*1rem;
	width:(40/41)*1em;
}
.icon-s-why-1 {
	font-size:(65/10)*1rem;
	width:(74/65)*1em;
}
.icon-s-why-2 {
	font-size:(65/10)*1rem;
	width:(38/65)*1em;
}
.icon-s-why-3 {
	font-size:(65/10)*1rem;
	width:(60/65)*1em;
}
.icon-s-why-4 {
	font-size:(65/10)*1rem;
	width:(63/65)*1em;
}
.icon-sber {
	font-size:(20/10)*1rem;
	width:(68/20)*1em;
}
.icon-sberbank {
	font-size:(65/10)*1rem;
	width:(67/65)*1em;
}
.icon-sbp {
	font-size:(32/10)*1rem;
	width:(61/32)*1em;
}
.icon-share {
	font-size:(18/10)*1rem;
	width:(19/18)*1em;
}
.icon-star {
	font-size:(12/10)*1rem;
	width:(12/12)*1em;
}
.icon-success {
	font-size:(31/10)*1rem;
	width:(30/31)*1em;
}
.icon-text {
	font-size:(43.23/10)*1rem;
	width:(500/43.23)*1em;
}
.icon-title {
	font-size:(40/10)*1rem;
	width:(41/40)*1em;
}
.icon-twitter {
	font-size:(17/10)*1rem;
	width:(21/17)*1em;
}
.icon-user {
	font-size:(36/10)*1rem;
	width:(35/36)*1em;
}
.icon-user-circle {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-users {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-var-1 {
	font-size:(21/10)*1rem;
	width:(21/21)*1em;
}
.icon-var-2 {
	font-size:(21/10)*1rem;
	width:(28/21)*1em;
}
.icon-var-3 {
	font-size:(22/10)*1rem;
	width:(15/22)*1em;
}
.icon-vk {
	font-size:(15/10)*1rem;
	width:(26/15)*1em;
}
.icon-wonder-sl-img {
	font-size:(61/10)*1rem;
	width:(60/61)*1em;
}
