mixin donateBlock(title)
	-
		let titleText = title || '';
	// start sDonateTargetContent
	+b.SECTION.sDonateTargetContent#sDonateTargetContent&attributes(attributes)
		.container
			block
		.container
			+b.donate-form-local023
				//-taken from 02 st2
				+e.title= titleText
				+e.group--other-border
					+e.group-title Способ пожертвования
					.row.no-gutters
						+input-btn('онлайн','method','col-sm-4')(checked)
						+input-btn('sms','method','col-sm-4')
						+input-btn('реквизиты','method','col-sm-4')
					<br><br>
					.row.no-gutters
						+input-btn('card','payment','col-sm-3', 'card')
						+input-btn('pay','payment','col-sm-3', 'pay')
						+input-btn('sber','payment','col-sm-3', 'sber')
						+input-btn('alfa','payment','col-sm-3', 'alfa')
					.row.no-gutters
						+input-btn('card','payment','col-sm-3', 'iomoney')
						+input-btn('pay','payment','col-sm-3', 'paypal')
						+input-btn('sber','payment','col-sm-3', 'qiwi')
						+input-btn('alfa','payment','col-sm-3', 'sbp')
				+e.group--other-border
					+e.group-title Сумма пожертвования
					.row.no-gutters
						+input-btn('300 ₽','rub','col-sm-4')
						+input-btn('500 ₽','rub','col-sm-4')(checked)
						+input-btn('1 000 ₽','rub','col-sm-4')
						+input('Другая сумма')
				+e.group--other-border
					+e.group-title Частота пожертвования
					.row.no-gutters.month-once-cont
						+input-btn('Разовое','ch','col-sm-6')(checked)
						+input-btn('Ежемесячное','ch','col-sm-6')
				//-taken from 02 st2
				+e.group
					+e.group-title Контактная информация
					+b.form-wrap
						+input('Имя')
						+input('Телефон','tel')
						+input('Эл. почта','email')(class="border-danger")
						+in-c('mb-1')(checked  )
							+e.SMALL.text Я хочу получать информацию о деятельности фонда на указанный адрес эл. почты
						+in-c()(checked)
							+e.SMALL.text Осуществляя пожертвование я принимаю условия #[a(href="#") договора-оферты]
						.text-center.pt-2
							+e.BUTTON.btn.btn-success(type="submit") ПОЖЕРТВОВАТЬ
	// end sDonateTargetContent

mixin sert()
	+b.SECTION.sertBlock#sertBlock&attributes(attributes)
		.container
			+e.content
				+e.headline.mb-4 Внесите именное пожертвование
				p.mb-4 Всем жертвователям выдаются сертификаты, подтверждающие факт участия в проекте перенесения чудотворной иконы и реставрации Знаменского храма. 
				+e.block
					+e.block-top_left
					+e.block-top_right
					+e.block-bottom_left
					+e.block-bottom_right
					p  Оригиналы сертификатов Вы можете получить по почте, указав адрес доставки при оформлении пожертвования.
				.row.no-gutters.sertBlock__m-15
					+e.card.col-sm-6
						.img-block
							img(src='img/@2x/single-sert.jpg' alt="")
						+e.button-container
							+e.BUTTON.btn.btn-success(type="submit") ПОЖЕРТВОВАТЬ
					+e.card.col-sm-6
						.img-block
							img(src='img/@2x/family-sert.jpg' alt="")
						+e.button-container
							+e.BUTTON.btn.btn-success(type="submit") ПОЖЕРТВОВАТЬ