mixin sPreheader019()
	// start sPreheader019
	+b.SECTION.sPreheader019#sPreheader019&attributes(attributes)
		+e.bg-block
			img(src="img/@2x/novospasskiy-monastir.jpg" alt="")
		+e.content
			+e.header-headline-block
				+e.txt-content
					+e.realised-proj.realised-proj_about Основной проект фонда
					h1
						| Новоспасский
						br
						| монастырь
					+e.A.location-link(href="#")
						+icon('mark')
						span Москва, Крестьянская площадь, 10
					+e.icon-img-block
						img(src="img/@2x/icona-vsecarica.png" alt="")
					+e.lower-descr-headline
						| Всем миром украсим храм
						br
						| для чудотворной иконы «Bсецарица»
					+e.lower-descr-block-etap II Этап
					+e.lower-descr-block-etap-name Благоукрашение Усыпальницы бояр Никитичей
			+e.progress-bar-cont
				+progressBar('399 050 860 ₽', '500 000 000 ₽')
				.text-center
					+e.A.donate-btn.red-hook-js(href='#') ПОЖЕРТВОВАТЬ
		//- +e.bg-block
			
		//- 	+e.progress-bar-cont
		//- 		+progressBar('399 050 860 ₽', '500 000 000 ₽')
		//- 		.text-center
		//- 			+e.A.donate-btn.red-hook-js(href='#') ПОЖЕРТВОВАТЬ

	// end sPreheader019